.homeLink {
    font-size: 1.5rem;
    font-weight:500;
}

.themeSwitch {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navItem {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}