.card {
  border-radius: 24px;
  background-color: lightcoral;
  background-image: linear-gradient(
    to top right,
    rgb(249, 59, 122),
    rgb(154, 94, 247)
  );
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 2px;
}

.title {
  width: 100%;
}

.content {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 0;
}
